.header {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 840px 400px;
}
.Strong {
  font-size: medium;
}
.srch input {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #dadbdd;
  color: black;
  margin-right: 15px;
}
.srch input::placeholder {
  color: rgb(135, 131, 131);
  padding-left: 10px;
}
.srch button {
  border: none;
  height: 30px;
  width: 80px;
  background-color: rgb(204, 198, 198);
  border-radius: 10px;
}
.srch button:hover {
  background-color: rgb(129, 124, 124);
}
